@charset "UTF-8";
/* webbear-sass-2 variables
/////////////////////////////////////////////////////
/// overrwrite them with your custom vars
/////////////////////////////////////////////////////


// layout /grid
$grid-gutter: 24px !default;
$grid-columns: 12 !default;
$container-max-width: 1140px !default;


$breakpoints: (
  x-small: 0,
  small: 576px,
  medium: 768px,
  large: 992px,
  x-large: 1200px
);

/////////////////////////////////////////////////////
/// colors
/////////////////////////////////////////////////////
$white:  #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:  #000 !default;

// retrieve via grayscale() function
$grays: (
  100: $gray-100,
  200: $gray-200,
  300: $gray-300,
  400: $gray-400,
  500: $gray-500,
  600: $gray-600,
  700: $gray-700,
  800: $gray-800,
  900: $gray-900
) !default;

$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;


// retrieve via color()
$colors: (
  blue: $blue,
  indigo: $indigo,
  purple: $purple,
  pink: $pink,
  red: $red,
  orange: $orange,
  yellow: $yellow,
  green: $green,
  teal: $teal,
  cyan: $cyan,
  white: $white,
  gray: $gray-600,
  gray-dark: $gray-800
) !default;

// retrieve via brand-color()
$brand-colors: (
  primary: $green,
  secondary: $gray-600,
  success: $blue,
  info: $cyan,
  warning: $yellow,
  danger: $red,
  light: $gray-100,
  dark: $gray-800
) !default;

$primary-color: $green !default;
$secondary-color: $gray-600 !default;

$brand-primary: $primary-color !default;
$brand-secondary: $secondary-color !default;

$link-color: $brand-primary !default;
$link-text-decoration: none !default;
$link-hover-color: $link-color !default;
$link-hover-text-decoration: underline !default;
$link-visited-color: darken($brand-primary, 10%) !default;


// fonts
$font-family-base: "Helvetica", arial, sans-serif !default;
$font-size-base: 100% !default;
$font-weight-base: 400 !default;
$line-height-base: 1.5 !default;
$body-color: $gray-900 !default;
$body-bg: $white !default;

//font sizes
$h1-font-size: 2rem !default;
$h2-font-size: 1.8rem !default;
$h3-font-size: 1.65rem !default;
$h4-font-size: 1.4rem !default;
$h5-font-size: 1.25rem !default;
$h6-font-size: 1.1rem !default;

$headings-font-family: inherit !default;
$headings-font-weight: 500 !default;
$headings-line-height: 1.1 !default;

// font colors
$headings-color: inherit !default;

//margins
$headings-margin-bottom: .75rem ;




$dt-font-weight: 700;



$label-margin-bottom: .25rem;

$button-settings: (
  background: $primary-color,
  border: 1px solid $primary-color,
  color: #fff,
  border-radius: 0,
  font-size: 1rem,
  font-weight: 400,
  font-family: inherit,
  padding: .5rem .75rem,
  hover-background: darken($primary-color, 10%),
  appeareance: none
) !default;

$text-input-settings: (
  background: transparent,
  border: 1px solid $gray-400,
  border-radius: 0,
  font-size: 1rem,
  font-weight: 400,
  font-family: $font-family-base,
  line-height: 1.2,
  padding: .25rem .5rem,
  margin: 0 0 .75rem 0,
  display: block,
  focus-border-color: $primary-color,
  apperance: none,
  max-width: 100%,
  width: 100%,
  outline: 1px solid $primary-color
) !default;


$select-settings: (
  display: block,
  width: 100%,
  max-width: 100%,
  padding: .75rem,
  margin: 0 0 .75rem 0,
  border: 1px solid $gray-400,
  font-size: 1rem,
  font-family: inherit,
  line-height: normal,
  color: $black,
  border-radius: 0,
  appearance: none,
  background-color: $white,
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' width='32' height='24' viewBox='0 0 32 24'><polygon points='0,0 32,0 16,24' style='fill: rgb%28138, 138, 138%29'></polygon></svg>"),
  background-size: 9px 6px,
  background-position: right .5rem center,
  background-origin: content-box,
  background-repeat: no-repeat,
  outline: 1px solid $primary-color

) !default;

$font-icons: (
  burger: "\2630",
  menu: "\2630",
  close: "\2715",
  plus: "\002B",
  mod-plus: "\02D6",
  minus: "\002D",
  mod-minus: "\02D7",
  caret: "\02C7",
  less: "\003C",
  more: "\003E",
  apo-left: "\00AB",
  apo-right: "\00BB",
  copyright: "\00A9"
) !default;

$fa-icons: (
  file: "\f15b",
  pdf: "\f1c1",
  word: "\f1c2",
  excel: "\f1c3",
  powerpoint: "\f1c4",
  image: "\f1c5",
  zip: "\f1c6",
  audio: "\f1c7",
  movie: "\f1c8"
) !default;

*/
html {
  box-sizing: border-box;
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent; }

*,
*::before,
*::after {
  box-sizing: inherit; }

@-ms-viewport {
  width: device-width; }

article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block; }

body {
  margin: 0;
  font-family: "Helvetica", arial, sans-serif;
  font-size: 100%;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff; }

[tabindex="-1"]:focus {
  outline: none !important; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: .5rem; }

p {
  margin-top: 0;
  margin-bottom: 1rem; }

abbr[title],
abbr[data-original-title] {
  text-decoration: underline;
  text-decoration: underline dotted;
  cursor: help;
  border-bottom: 0; }

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit; }

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem; }

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0; }

dt {
  font-weight: 700; }

dd {
  margin-bottom: .5rem;
  margin-left: 0; }

blockquote {
  margin: 0 0 1rem; }

dfn {
  font-style: italic; }

b,
strong {
  font-weight: bolder; }

small {
  font-size: 80%; }

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline; }

sub {
  bottom: -.25em; }

sup {
  top: -.5em; }

a {
  color: #acacac;
  text-decoration: underline;
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }
  a:hover {
    color: #acacac;
    text-decoration: none; }
  a:visited {
    color: #c6c5c5; }

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none; }
  a:not([href]):not([tabindex]):focus {
    outline: 0; }

pre,
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto; }

figure {
  margin: 0 0 1rem; }

img {
  vertical-align: middle;
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

a,
area,
button,
[role="button"],
input,
label,
select,
summary,
textarea {
  touch-action: manipulation; }

table {
  border-collapse: collapse; }

th {
  text-align: left; }

label {
  display: inline-block;
  margin-bottom: 0.25rem; }

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color; }

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

button,
input {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none; }

input[type="radio"],
input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0; }

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox; }

textarea {
  overflow: auto;
  resize: vertical; }

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0; }

legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: .5rem;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit;
  white-space: normal; }

progress {
  vertical-align: baseline; }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: none; }

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button; }

output {
  display: inline-block; }

summary {
  display: list-item; }

template {
  display: none; }

[hidden] {
  display: none !important; }

nav ul, nav ol, nav li {
  list-style: none;
  margin: 0;
  padding: 0; }

.nav,
.nav li {
  list-style: none;
  margin: 0;
  padding: 0; }

html {
  font-size: 100%; }

body {
  font-family: "Helvetica", arial, sans-serif;
  font-size: 100%;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  text-size-adjust: none; }

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0.75rem;
  color: inherit;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1; }

h1 {
  font-size: 2rem; }

h2 {
  font-size: 1.8rem; }

h3 {
  font-size: 1.65rem; }

h4 {
  font-size: 1.4rem; }

h5 {
  font-size: 1.25rem; }

h6 {
  font-size: 1.1rem; }

a {
  color: #acacac;
  text-decoration: underline; }

a:hover {
  color: #acacac;
  text-decoration: none; }

a:visited {
  color: #c6c5c5; }

p,
ul,
ol {
  margin-top: 0;
  margin-bottom: 1rem; }

img {
  max-width: 100%;
  height: auto; }

[type=text],
[type=email],
[type=date],
[type=number],
textarea {
  font-family: "Helvetica", arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  padding: 0.25rem 0.5rem;
  margin: 0 0 0.75rem 0;
  background: transparent;
  border: 1px solid #ced4da;
  border-radius: 0;
  display: block;
  width: 100%;
  max-width: 100%; }
  [type=text]:focus,
  [type=email]:focus,
  [type=date]:focus,
  [type=number]:focus,
  textarea:focus {
    border-color: #28a745; }

a.button,
button,
[type=button],
[type=submit] {
  background-color: #28a745;
  border: 1px solid #28a745;
  border-radius: 0;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  line-height: 1;
  padding: 0.5rem 0.75rem;
  text-align: center;
  text-decoration: none;
  transition: background-color 200ms ease;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  a.button:hover, a.button:focus,
  button:hover,
  button:focus,
  [type=button]:hover,
  [type=button]:focus,
  [type=submit]:hover,
  [type=submit]:focus {
    background-color: #1e7e34;
    color: #fff; }
  a.button:disabled,
  button:disabled,
  [type=button]:disabled,
  [type=submit]:disabled {
    cursor: not-allowed;
    opacity: 0.5; }
    a.button:disabled:hover,
    button:disabled:hover,
    [type=button]:disabled:hover,
    [type=submit]:disabled:hover {
      background-color: #acacac; }

select {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0.75rem;
  margin: 0 0 0.75rem 0;
  border: 1px solid #ced4da;
  font-size: 1rem;
  font-family: inherit;
  line-height: normal;
  color: #000;
  background-color: #fff;
  border-radius: 0;
  appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' width='32' height='24' viewBox='0 0 32 24'><polygon points='0,0 32,0 16,24' style='fill: rgb%28138, 138, 138%29'></polygon></svg>");
  background-size: 9px 6px;
  background-position: right 0.5rem center;
  background-origin: content-box;
  background-repeat: no-repeat; }

html {
  font-size: 100%; }

body {
  font-family: 'Raleway', sans-serif;
  font-size: 100%;
  line-height: 1.5;
  background: #111;
  border-top: 12px solid #797979;
  color: #acacac;
  -webkit-text-size-adjust: none; }

img {
  max-width: 100%;
  height: auto; }

h1, h2, h3, h4, h5 {
  color: #acacac;
  text-transform: uppercase; }

h2 {
  font-weight: normal;
  font-size: 1.3rem;
  margin: 1.3rem 0 .5rem 0; }

h3 {
  font-size: 1.2rem;
  margin: 1.3rem 0 .5rem 0; }

.sidebar h2:first-child,
.main-content h2:first-child,
.sidebar h3:first-child,
.main-content h3:first-child {
  margin-top: 0; }

p {
  margin: 0 0 1rem 0; }

a {
  color: #acacac;
  text-decoration: underline; }

a:hover {
  color: #939292;
  text-decoration: none; }

blockquote {
  margin-left: 0;
  padding-left: 1.5rem;
  padding-right: 2rem;
  border-left: 4px solid #ddd;
  font-style: italic;
  color: #777; }

pre, code {
  background: #eee;
  border: 1px solid #ddd; }

pre {
  font-size: 0.875rem;
  line-height: 1.4em;
  padding: 1em;
  border-left: 4px solid #797979; }

.align_left {
  /* for images placed in rich text editor */
  float: left;
  margin: 0 1rem 0.5rem 0;
  position: relative;
  top: 0.5rem;
  max-width: 50%; }

.align_right {
  /* for images placed in rich text editor */
  float: right;
  margin: 0 0 0.5rem 1rem;
  max-width: 50%; }

.align_center {
  /* for images placed in rich text editor */
  display: block;
  margin: 1em auto;
  position: relative;
  top: 0.5rem; }

.breadcrumb.nav {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 30px;
  padding: 1em;
  display: none; }
  @media (min-width: 768px) {
    .breadcrumb.nav {
      padding: 0 15px;
      display: block; } }

.top-bar {
  zoom: 1;
  display: none; }
  .top-bar:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  @media (min-width: 768px) {
    .top-bar {
      display: block; } }

.body {
  padding: 1em;
  zoom: 1;
  clear: both; }
  .body:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  @media (min-width: 768px) {
    .body {
      max-width: 1140px;
      margin: 0 auto;
      padding: 0 30px;
      padding: 2em 15px 1em 15px; } }

@media (min-width: 768px) {
  .has-sidebar .body {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto;
    padding: 2em 0 1em 0; } }

@media (min-width: 768px) {
  body.has-sidebar .main-content {
    padding-right: 15px;
    padding-left: 15px;
    flex: 0 1 auto;
    width: 58.3333333333%; } }

@media (min-width: 992px) {
  body.has-sidebar .main-content {
    width: 66.6666666667%; } }

@media (min-width: 768px) {
  body.has-sidebar .page-title {
    padding-right: 15px;
    padding-left: 15px;
    flex: 0 1 auto;
    width: 100%; } }

body.has-sidebar .sidebar {
  clear: both; }
  @media (min-width: 768px) {
    body.has-sidebar .sidebar {
      padding-right: 15px;
      padding-left: 15px;
      flex: 0 1 auto;
      width: 41.6666666667%; } }
  @media (min-width: 992px) {
    body.has-sidebar .sidebar {
      width: 33.3333333333%; } }

.top-nav li {
  list-style: none;
  padding: 0;
  margin: 0; }

.top-nav ul > li {
  float: left;
  position: relative;
  margin: 0 15px 0 0; }

.topnav > li > a {
  padding: 0.25rem 0;
  border-top: 12px solid transparent;
  text-decoration: none;
  display: block;
  color: #797979;
  transition: border-color 300ms ease; }

.topnav > li:hover > a {
  border-top-color: #797979; }

.topnav li.active > a,
.topnav li.current > a {
  color: #fcfcfc;
  border-top-color: #797979; }

.top-nav ul li ul {
  position: absolute;
  top: 2.35rem;
  left: -99999px;
  border: 1px solid;
  border-color: transparent;
  background-color: #111;
  transition: border 300ms ease;
  width: 12rem;
  padding: .25rem;
  z-index: 2000; }
  .top-nav ul li ul li {
    width: 100%;
    font-size: .9rem; }
    .top-nav ul li ul li a {
      display: block;
      text-decoration: none;
      padding: .25rem; }

.top-nav ul li:hover ul {
  left: 0;
  border-color: #797979; }

form.search {
  float: right;
  margin: 0;
  width: flex-column-width(3 of 12, 12); }

form.search input {
  margin: 0;
  padding: 0.25rem 0.5rem;
  width: 100%;
  color: #000;
  display: inline-block;
  margin: .1rem 0 0 0; }

form.search button {
  display: none; }

.breadcrumbs {
  clear: both;
  padding: .25em 0;
  border-top: 1px solid #797979;
  border-bottom: 1px solid #797979;
  font-size: .75rem; }
  @media (min-width: 768px) {
    .breadcrumbs {
      font-size: 1rem; } }
  .breadcrumbs li {
    list-style: none;
    display: inline-block;
    color: #797979; }
    .nav .breadcrumbs li {
      margin: 0 .5rem 0 0; }
    .breadcrumbs li a {
      color: #797979; }

.breadcrumbs li:after {
  content: "/";
  color: #797979;
  padding-left: 0.5rem;
  padding-right: 0; }

.breadcrumbs li.last:after {
  content: ""; }

.header {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 30px;
  padding: 0 0  1rem 0; }
  @media (min-width: 768px) {
    .header {
      padding: 0 15px; } }
  .header.has-image .site-title {
    position: absolute;
    margin: -3rem 15px;
    top: 50%; }
  .header.has-image .header-image {
    padding: 0 0 15px 0;
    position: relative; }
    @media (min-width: 768px) {
      .header.has-image .header-image {
        padding-top: 9px; } }
    .header.has-image .header-image img {
      max-width: 100%;
      min-width: 100%; }

.site-title {
  padding: 2rem 0; }
  .site-title a, .site-title a:hover, .site-title a:visited, .site-title a:active {
    text-decoration: none;
    color: #ccc; }
  .site-title h1 {
    font-weight: normal;
    font-size: 1.7rem;
    line-height: 1.7rem;
    text-transform: none;
    text-shadow: 1px 1px 4px  #000; }
    @media (min-width: 768px) {
      .site-title h1 {
        font-size: 2rem;
        line-height: 2rem; } }

h1.page-title {
  font-size: 1.6rem;
  margin-top: 0;
  font-weight: normal;
  margin-bottom: 1rem; }

.main-content,
.sidebar {
  padding-bottom: 2rem; }
  .main-content ul,
  .sidebar ul {
    padding: 0;
    margin: 0 0 1rem 0;
    list-style-position: inside; }
    .main-content ul.nav,
    .sidebar ul.nav {
      margin-left: 0; }

.nav {
  margin-left: 0;
  padding-left: 0;
  list-style: none; }

.nav .nav {
  padding-left: 1.5rem;
  list-style: none; }

.nav li {
  margin: 1em 0; }

.nav-tree li {
  margin-top: 0;
  margin-bottom: 0; }

.main-content .nav a {
  color: #797979;
  text-decoration: none;
  display: inline-block;
  vertical-align: top; }
  .main-content .nav a .summary {
    font-size: .75rem; }

.main-content .nav li {
  margin-bottom: 10px; }
  .main-content .nav li:before {
    content: "» ";
    color: #797979;
    text-decoration: none; }
  .main-content .nav li:hover:before {
    color: #fcfcfc; }

.nav a {
  color: #797979;
  text-decoration: none; }

.nav-tree li a {
  color: #797979; }

.nav a:hover,
.nav .current > a {
  color: #fcfcfc; }
  .nav a:hover:before,
  .nav .current > a:before {
    color: #fcfcfc;
    text-decoration: none; }

@media (min-width: 768px) {
  .main-content {
    min-height: 250px; } }

.main-content ul.sub-page-nav {
  list-style: none;
  clear: both;
  zoom: 1;
  margin: 1.5rem 0; }
  .main-content ul.sub-page-nav:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  @media (min-width: 576px) {
    .main-content ul.sub-page-nav {
      display: flex;
      flex-flow: row wrap;
      margin: 0 -15px; } }

.main-content .sub-page-nav li {
  margin-top: 0;
  margin-bottom: 30px; }
  .main-content .sub-page-nav li img {
    max-width: 100%;
    min-width: 100%;
    width: 100%;
    height: auto; }
  .main-content .sub-page-nav li div.img {
    width: 100%; }
  @media (min-width: 576px) {
    .main-content .sub-page-nav li {
      padding: 15px;
      flex: 0 0 auto;
      width: 50%; } }
  @media (min-width: 768px) {
    .main-content .sub-page-nav li {
      width: 25%; } }

.main-content .sub-page-nav a {
  text-decoration: none;
  display: block; }

.main-content .sub-page-nav h2 {
  font-size: 0.9rem;
  margin: .25rem 0; }

.main-content .sub-page-nav .summary {
  font-size: .75rem; }

.footer {
  clear: both;
  padding: .75rem 1rem;
  color: #acacac; }
  @media (min-width: 768px) {
    .footer {
      max-width: 1140px;
      margin: 0 auto;
      padding: 0 30px;
      padding: 0.75rem 15px;
      margin-bottom: 1.25rem; } }

.utilities {
  border-top: 1px solid #acacac;
  padding: .75rem 0; }

.additionals,
.utilities {
  margin: 0;
  padding: 0; }
  .additionals li,
  .utilities li {
    font-size: .825rem;
    display: inline-block;
    margin: .1em 1.75em .1em 0; }
    .additionals li a,
    .utilities li a {
      font-weight: normal;
      text-decoration: none; }
      .additionals li a:hover,
      .utilities li a:hover {
        color: #fcfcfc; }

#wrap_Inputfield- {
  display: none; }

.form input[type=text],
.form input[type=email],
.form textarea {
  border: 1px solid #acacac;
  padding: .5em;
  max-width: 100%;
  width: 30em;
  font-size: 1em;
  font-family: courier, monospace; }
  .form input[type=text]:focus,
  .form input[type=email]:focus,
  .form textarea:focus {
    border-color: #dfdfdf; }

.form .InputfieldStateRequired label:after {
  content: " *"; }

.form .Inputfield {
  margin: 0 0 .5em 0; }

.form .InputfieldSubmit {
  margin: 1em 0; }

.form button {
  background: #acacac;
  display: inline-block;
  border: 1px solid #acacac;
  padding: .75em 1.25em;
  color: #fff;
  cursor: pointer;
  transition: background 200ms ease; }
  .form button:hover {
    background: #939292; }

.form .ui-state-error {
  color: red; }
  .form .ui-state-error p {
    margin: 0; }

.form span.ui-state-error {
  font-size: .825em;
  font-style: italic; }

.main-content ul.gallery {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  margin: 0 -15px; }

.main-content .gallery li {
  padding: 15px;
  flex: 0 0 auto;
  width: 100%; }
  @media (min-width: 576px) {
    .main-content .gallery li {
      width: 50%; } }
  @media (min-width: 768px) {
    .main-content .gallery li {
      width: 33.3333333333%; } }
  @media (min-width: 992px) {
    .main-content .gallery li {
      width: 25%; } }
  .main-content .gallery li img, .main-content .gallery li a {
    display: block; }

.main-content .gallery-item > a > img {
  min-width: 100%;
  height: auto;
  padding: 8px;
  background: #2b2a2a;
  box-shadow: 0 0 0 rgba(255, 255, 255, 0.3); }

.edit {
  position: fixed;
  top: 5px;
  right: 0; }
  .edit a {
    text-decoration: none;
    font-size: 0.75rem;
    display: block;
    background: #990000;
    color: white;
    padding: .5rem .75rem; }

.mobile-menu {
  background-color: #797979; }
  @media (min-width: 768px) {
    .mobile-menu {
      display: none; } }
  .mobile-menu ul, .mobile-menu li {
    list-style: none;
    margin: 0;
    padding: 0; }
  .mobile-menu .mobile-header {
    background-color: #797979;
    color: #fff;
    margin: -12px 0 0 0; }
    .mobile-menu .mobile-header .reveal-mobile-menu {
      display: inline-block;
      padding: 6px;
      font-size: 32px; }
      .mobile-menu .mobile-header .reveal-mobile-menu:before {
        content: '\2630'; }
      .mobile-menu .mobile-header .reveal-mobile-menu.on:before {
        content: '\2715'; }
  .mobile-menu .mm-top-nav {
    padding: 10px; }
  .mobile-menu a {
    text-decoration: none;
    font-size: 1.1rem;
    padding: 6px 12px;
    display: block;
    color: #fff; }
  .mobile-menu .mm-top-nav > li > a {
    text-transform: uppercase; }
  .mobile-menu li li > a {
    padding-left: 32px; }
  .mobile-menu li li li > a {
    padding-left: 64px; }
  .mobile-menu .mm-current > a,
  .mobile-menu .mm-active > a {
    color: #fff;
    font-weight: bold; }
  .mobile-menu .mm-container {
    opacity: 1;
    transition: opacity 800ms ease;
    border-top: 1px solid #fff; }
  .mobile-menu .hidden {
    height: 0;
    overflow: hidden;
    opacity: 0; }

/*********************************************************************
 * 5. Media queries for responsive layout
 *
 */
@media only screen and (max-width: 767px) {
  /* mobile layout */
  body,
  td,
  textarea {
    font-size: 100%; }
  .align_left,
  .align_right,
  .align_center {
    display: block;
    float: none;
    margin: 1em auto;
    max-width: 100%; } }

@media only screen and (min-width: 1200px) {
  /* extra-wide desktop layout */
  html {
    font-size: 115%; } }
