@charset "UTF-8";
/* @group Reset */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, main, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '"';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

:focus {
  outline: 0; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

/* @end */
/* @group default margin/padding */
/*let's start with the lists*/
/* @end */
/* @group Forms */
form {
  margin: 0; }

legend {
  border: 0;
  *margin-left: -7px;
  text-shadow: 0 1px 1px #d4d4d4; }

input, select, label {
  vertical-align: middle; }

button, input, select, textarea {
  font-size: 100%; }

button, input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

/* @end */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 100%; }

body {
  font-family: 'Raleway', sans-serif;
  font-size: 100%;
  line-height: 1.5;
  background: #fff;
  border-top: 12px solid #158E50;
  color: #666;
  -webkit-text-size-adjust: none; }

img {
  max-width: 100%;
  height: auto; }

h1, h2, h3, h4, h5 {
  color: #0e6237;
  text-transform: uppercase; }

h2 {
  font-weight: normal;
  font-size: 1.3rem;
  margin: 1.3rem 0 .5rem 0; }

h3 {
  font-size: 1.2rem;
  margin: 1.3rem 0 .5rem 0; }

.sidebar h2:first-child,
.main-content h2:first-child,
.sidebar h3:first-child,
.main-content h3:first-child {
  margin-top: 0; }

p {
  margin: 0 0 1rem 0; }

a {
  color: #158E50;
  text-decoration: underline; }

a:hover {
  color: #0e6237;
  text-decoration: none; }

blockquote {
  margin-left: 0;
  padding-left: 1.5rem;
  padding-right: 2rem;
  border-left: 4px solid #ddd;
  font-style: italic;
  color: #777; }

pre, code {
  background: #eee;
  border: 1px solid #ddd; }

pre {
  font-size: 0.875rem;
  line-height: 1.4em;
  padding: 1em;
  border-left: 4px solid #ddd; }

.top-bar {
  zoom: 1;
  display: none; }
  .top-bar:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  @media (min-width: 768px) {
    .top-bar {
      display: block; } }

.top-nav li {
  list-style: none;
  padding: 0;
  margin: 0; }

.top-nav ul > li {
  float: left;
  position: relative;
  margin: 0 2.1276595745% 0 0; }

.topnav > li > a {
  padding: 0.25rem 0;
  border-top: 12px solid transparent;
  text-decoration: none;
  display: block;
  color: #158E50;
  transition: border-color 300ms ease; }

.topnav > li:hover > a {
  border-top-color: #158E50; }

.topnav li.active > a,
.topnav li.current > a {
  color: #127843;
  border-top-color: #158E50; }

.top-nav ul li ul {
  position: absolute;
  top: 2.35rem;
  left: -99999px;
  border: 1px solid;
  border-color: transparent;
  background-color: #fff;
  transition: border 300ms ease;
  width: 12rem;
  padding: .25rem;
  z-index: 2000; }
  .top-nav ul li ul li {
    width: 100%;
    font-size: .9rem; }
    .top-nav ul li ul li a {
      display: block;
      text-decoration: none;
      padding: .25rem; }

.top-nav ul li:hover ul {
  left: 0;
  border-color: #158E50; }

form.search {
  float: right;
  margin: 0;
  width: 23.4042553191%; }

form.search input {
  margin: 0;
  padding: 0.25rem 0.5rem;
  width: 100%;
  color: #000;
  display: inline-block;
  margin: .1rem 0 0 0; }

form.search button {
  display: none; }

.breadcrumb.nav {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
  display: none; }
  .breadcrumb.nav:after {
    content: " ";
    display: block;
    clear: both; }
  @media (min-width: 768px) {
    .breadcrumb.nav {
      padding: 0 2.1276595745%;
      display: block; } }

.breadcrumbs {
  clear: both;
  padding: .25em 0;
  border-top: 1px solid #158E50;
  border-bottom: 1px solid #158E50;
  font-size: .75rem; }
  @media (min-width: 768px) {
    .breadcrumbs {
      font-size: 1rem; } }
  .breadcrumbs li {
    list-style: none;
    display: inline-block;
    color: #158E50; }
    .nav .breadcrumbs li {
      margin: 0 .5rem 0 0; }
    .breadcrumbs li a {
      color: #158E50; }

.breadcrumbs li:after {
  content: "/";
  color: #158E50;
  padding-left: 0.5rem;
  padding-right: 0; }

.breadcrumbs li.last:after {
  content: ""; }

.header {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem; }
  .header:after {
    content: " ";
    display: block;
    clear: both; }
  @media (min-width: 768px) {
    .header {
      padding: 0 2.1276595745%; } }
  .header.has-image .site-title {
    position: absolute;
    margin: -3rem 0;
    top: 50%; }
  .header.has-image .header-image {
    padding: .75rem 0;
    position: relative; }
    .header.has-image .header-image img {
      max-width: 100%;
      min-width: 100%; }

.site-title {
  padding: 2rem 0; }
  .site-title a, .site-title a:hover, .site-title a:visited, .site-title a:active {
    text-decoration: none;
    color: #ccc; }
  .site-title h1 {
    font-weight: normal;
    font-size: 1.7rem;
    line-height: 1.7rem;
    text-transform: none;
    text-shadow: 1px 1px 4px  #000; }
    @media (min-width: 768px) {
      .site-title h1 {
        font-size: 2rem;
        line-height: 2rem; } }

.body {
  padding: 1em;
  zoom: 1;
  clear: both; }
  .body:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  @media (min-width: 768px) {
    .body {
      max-width: 1200px;
      margin-left: auto;
      margin-right: auto;
      padding: 2em 2.1276595745% 1em 2.1276595745%; }
      .body:after {
        content: " ";
        display: block;
        clear: both; } }

h1.page-title {
  font-size: 1.6rem;
  margin-top: 0;
  font-weight: normal;
  margin-bottom: 1rem; }

.main-content,
.sidebar {
  padding-bottom: 2rem; }
  .main-content ul,
  .sidebar ul {
    padding: 0;
    margin: 0 0 1rem 0;
    list-style-position: inside; }
    .main-content ul.nav,
    .sidebar ul.nav {
      margin-left: 0; }

@media (min-width: 768px) {
  .main-content {
    min-height: 250px; } }

.main-content ul.sub-page-nav {
  list-style: none;
  clear: both;
  zoom: 1;
  margin: 1.5rem 0; }
  .main-content ul.sub-page-nav:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }

.main-content .sub-page-nav li {
  margin-top: 0;
  margin-bottom: 6.6666666667%; }
  .main-content .sub-page-nav li img {
    max-width: 100%;
    min-width: 100%;
    width: 100%;
    height: auto; }
  .main-content .sub-page-nav li div.img {
    width: 100%; }
  @media (min-width: 376px) {
    .main-content .sub-page-nav li {
      width: 46.6666666667%;
      float: left; }
      .main-content .sub-page-nav li:nth-child(2n + 1) {
        margin-left: 0;
        margin-right: -100%;
        clear: both;
        margin-left: 0; }
      .main-content .sub-page-nav li:nth-child(2n + 2) {
        margin-left: 53.3333333333%;
        margin-right: -100%;
        clear: none; } }
  @media (min-width: 768px) {
    .main-content .sub-page-nav li {
      width: 20%;
      float: left; }
      .main-content .sub-page-nav li:nth-child(4n + 1) {
        margin-left: 0;
        margin-right: -100%;
        clear: both;
        margin-left: 0; }
      .main-content .sub-page-nav li:nth-child(4n + 2) {
        margin-left: 26.6666666667%;
        margin-right: -100%;
        clear: none; }
      .main-content .sub-page-nav li:nth-child(4n + 3) {
        margin-left: 53.3333333333%;
        margin-right: -100%;
        clear: none; }
      .main-content .sub-page-nav li:nth-child(4n + 4) {
        margin-left: 80%;
        margin-right: -100%;
        clear: none; } }

.main-content .sub-page-nav a {
  text-decoration: none;
  display: block; }

.main-content .sub-page-nav h2 {
  font-size: 0.9rem;
  margin: .25rem 0; }

.main-content .sub-page-nav .summary {
  font-size: .75rem; }

@media (min-width: 768px) {
  body.has-sidebar .main-content {
    width: 74.4680851064%;
    float: left;
    margin-right: 2.1276595745%; } }

body.has-sidebar .sidebar {
  clear: both; }
  @media (min-width: 768px) {
    body.has-sidebar .sidebar {
      clear: none;
      width: 23.4042553191%;
      float: right;
      margin-right: 0; } }

.nav {
  margin-left: 0;
  padding-left: 0;
  list-style: none; }

.nav .nav {
  padding-left: 1.5rem;
  list-style: disc; }

.nav li {
  margin: 1em 0; }

.nav-tree li {
  margin-top: 0;
  margin-bottom: 0; }

.main-content .nav a {
  color: #158E50;
  text-decoration: none;
  display: inline-block;
  vertical-align: top; }
  .main-content .nav a .summary {
    font-size: .75rem; }

.main-content .nav li {
  margin-bottom: 10px; }
  .main-content .nav li:before {
    content: "» ";
    color: #158E50;
    text-decoration: none; }
  .main-content .nav li:hover:before {
    color: #127843; }

.nav a {
  color: #158E50;
  text-decoration: none; }

.nav-tree li a {
  color: #158E50; }

.nav a:hover,
.nav .current > a {
  color: #127843; }
  .nav a:hover:before,
  .nav .current > a:before {
    color: #127843;
    text-decoration: none; }

.align_left {
  /* for images placed in rich text editor */
  float: left;
  margin: 0 1rem 0.5rem 0;
  position: relative;
  top: 0.5rem;
  max-width: 50%; }

.align_right {
  /* for images placed in rich text editor */
  float: right;
  margin: 0 0 0.5rem 1rem;
  max-width: 50%; }

.align_center {
  /* for images placed in rich text editor */
  display: block;
  margin: 1em auto;
  position: relative;
  top: 0.5rem; }

.footer {
  clear: both;
  padding: .75rem 1rem;
  color: #666; }
  @media (min-width: 768px) {
    .footer {
      max-width: 1200px;
      margin-left: auto;
      margin-right: auto;
      padding: 0.75rem 2.1276595745%;
      margin-bottom: 1.25rem; }
      .footer:after {
        content: " ";
        display: block;
        clear: both; } }

.utilities {
  border-top: 1px solid #666;
  padding: .75rem 0; }

.additionals,
.utilities {
  margin: 0; }
  .additionals li,
  .utilities li {
    font-size: .825rem;
    display: inline-block;
    margin: .1em 1.75em .1em 0; }
    .additionals li a,
    .utilities li a {
      font-weight: normal;
      text-decoration: none; }
      .additionals li a:hover,
      .utilities li a:hover {
        color: #127843; }

.edit {
  position: fixed;
  top: 5px;
  right: 0; }
  .edit a {
    text-decoration: none;
    font-size: 0.75rem;
    display: block;
    background: #990000;
    color: white;
    padding: .5rem .75rem; }

.mobile-header {
  margin-top: -12px;
  background: #158E50; }
  @media (min-width: 768px) {
    .mobile-header {
      display: none; } }
  .mobile-header .menu-toggle {
    font-size: 26px;
    color: white;
    display: inline-block;
    padding: 10px; }

.mm-container {
  position: absolute;
  top: 32px;
  left: 5px;
  right: 5px;
  background: #158E50;
  z-index: 30000; }
  .mm-container form.search {
    float: none;
    width: 50%;
    background: #333;
    padding: .5em; }

.mobile-menu ul, .mobile-menu li, .mobile-menu a {
  background: #158E50;
  transition: background 0 ease; }

.mobile-menu li a {
  color: #fff;
  padding: .75rem 1rem;
  display: block;
  border-top: 0 none;
  border-bottom: 1px solid #fff;
  text-decoration: none;
  letter-spacing: .09em; }

.mobile-menu li:last-child li:last-child a {
  border-bottom: 0 none; }

.mobile-menu li.active > a,
.mobile-menu li.current > a {
  font-weight: bold;
  color: #fff; }

.mobile-menu li li a {
  padding-left: 2rem; }

#wrap_Inputfield- {
  display: none; }

.form input[type=text],
.form input[type=email],
.form textarea {
  border: 1px solid #666;
  padding: .5em;
  max-width: 100%;
  width: 30em;
  font-size: 1em;
  font-family: courier, monospace; }
  .form input[type=text]:focus,
  .form input[type=email]:focus,
  .form textarea:focus {
    border-color: #999999; }

.form .InputfieldStateRequired label:after {
  content: " *"; }

.form .Inputfield {
  margin: 0 0 .5em 0; }

.form .InputfieldSubmit {
  margin: 1em 0; }

.form button {
  background: #666;
  display: inline-block;
  border: 1px solid #666;
  padding: .75em 1.25em;
  color: #fff;
  cursor: pointer;
  transition: background 200ms ease; }
  .form button:hover {
    background: #4d4c4c; }

.form .ui-state-error {
  color: red; }
  .form .ui-state-error p {
    margin: 0; }

.form span.ui-state-error {
  font-size: .825em;
  font-style: italic; }

.main-content ul.gallery {
  list-style: none;
  zoom: 1;
  margin: 1rem 0; }
  .main-content ul.gallery:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }

.main-content .gallery li {
  margin-bottom: 2.1276595745%;
  padding: 5px;
  background: white; }
  @media (min-width: 376px) {
    .main-content .gallery li {
      width: 48.9361702128%;
      float: left; }
      .main-content .gallery li:nth-child(2n + 1) {
        margin-left: 0;
        margin-right: -100%;
        clear: both;
        margin-left: 0; }
      .main-content .gallery li:nth-child(2n + 2) {
        margin-left: 51.0638297872%;
        margin-right: -100%;
        clear: none; } }
  @media (min-width: 1040px) {
    .main-content .gallery li {
      width: 23.4042553191%;
      float: left; }
      .main-content .gallery li:nth-child(4n + 1) {
        margin-left: 0;
        margin-right: -100%;
        clear: both;
        margin-left: 0; }
      .main-content .gallery li:nth-child(4n + 2) {
        margin-left: 25.5319148936%;
        margin-right: -100%;
        clear: none; }
      .main-content .gallery li:nth-child(4n + 3) {
        margin-left: 51.0638297872%;
        margin-right: -100%;
        clear: none; }
      .main-content .gallery li:nth-child(4n + 4) {
        margin-left: 76.5957446809%;
        margin-right: -100%;
        clear: none; } }
  .main-content .gallery li img, .main-content .gallery li a {
    display: block; }

.main-content .gallery-item > a > img {
  min-width: 100%;
  height: auto; }

/*********************************************************************
 * 5. Media queries for responsive layout
 *
 */
@media only screen and (max-width: 767px) {
  /* mobile layout */
  body,
  td,
  textarea {
    font-size: 100%; }
  .align_left, .align_right, .align_center {
    display: block;
    float: none;
    margin: 1em auto;
    max-width: 100%; } }

@media only screen and (min-width: 1200px) {
  /* extra-wide desktop layout */
  html {
    font-size: 115%; } }
