
html {
  font-size: 100%;
}


body {
	font-family: 'Raleway', sans-serif;
	font-size: 100%;
	line-height:1.5;
	background: $body-bg-color;

	color: $base-color;
  -webkit-text-size-adjust: none;

  @include media(medium) {
  	border-top: 12px solid $body-border-top-color;
  }
}

body,
td,
input[type=text],
textarea {

}

img {
	max-width: 100%;
	height: auto
}

h1, h2, h3, h4, h5 {
	color: $header-color;
	text-transform: uppercase;
}
h2 {
	font-weight: normal;
	font-size: 1.3rem;
	margin: 1.3rem 0 .5rem 0
}

h3 {
	font-size: 1.2rem;
	margin: 1.3rem 0 .5rem 0
}

.sidebar h2:first-child,
.main-content h2:first-child,
.sidebar h3:first-child,
.main-content h3:first-child{
  margin-top: 0;
}

p {
	margin: 0 0 1rem 0;
}

a {
	color: $link-color;
	text-decoration: underline;

}
a:hover {
	color: darken($link-color, 10%);
	//border-color: #aaa;
	text-decoration: none;
}

blockquote {
	margin-left: 0;
	padding-left: 1.5rem;
	padding-right: 2rem;
	border-left: 4px solid #ddd;
	font-style: italic;
	color: #777;
}

pre, code {
	background: #eee;
	border: 1px solid #ddd;
}

pre {
	font-size: px2rem(14);
	line-height: 1.4em;
	padding: 1em;
	border-left: 4px solid $brand-color;
}

.align_left {
	/* for images placed in rich text editor */
	float: left;
	margin: 0 1rem 0.5rem 0;
	position: relative;
	top: 0.5rem;
	max-width: 50%;
}

.align_right {
	/* for images placed in rich text editor */
	float: right;
	margin: 0 0 0.5rem 1rem;
	max-width: 50%;
}

.align_center {
	/* for images placed in rich text editor */
	display: block;
	margin: 1em auto;
	position: relative;
	top: 0.5rem;
}


/////////////////////////////////////////////////////
/// layout common
/////////////////////////////////////////////////////


.container {

}

.breadcrumb.nav {
	@include container;
	padding:  1em;
	display: none;
	//background: rgba(255,255,255, 0.8);
	@include media(medium) {
		padding: 0 $grid-gutter/2;
		display: block;
	}
}


.top-bar {
	@include clearfix;
	display: none;
	@include media(medium) {
		display: block;
	}
}

.body {
	padding: 1em;
	@include clearfix;
	clear: both;
	@include media(medium) {
		@include container;
		padding: 2em gutter(.5) 1em gutter(.5);
	}
}


.has-sidebar .body{
	@include media(medium) {
		@include container;
		@include flex-parent(0 auto);

		padding: 2em 0 1em 0;
	}
}
body.has-sidebar .main-content {
	@include media(medium) {
		@include flex-item();
		@include flex-item-width(7);

	}
	@include media(large) {

		@include flex-item-width(8);

	}
}

body.has-sidebar {

	.page-title {
		@include media(medium) {
		@include flex-item();
			@include flex-item-width(12);
	}
		}
}
body.has-sidebar .sidebar {
	clear: both;
	@include media(medium) {
		@include flex-item();
	@include flex-item-width(5);

	}
	@include media(large) {

	@include flex-item-width(4);

	}

}

.skip-links {
	@include visually-hidden;
}