/////////////////////////////////////////////
//  footer
/////////////////////////////////////////////

.footer {
	clear: both;

	padding: .75rem 1rem;
	color: $nav-color;
	a {
		color: $nav-color;
	}
	@include media(medium) {

		@include container;
		padding: .75rem gutter(.5);
		margin-bottom: 1.25rem;
	}
}
.footer-content {
	border-top: 1px solid $base-color;
	padding:.75rem 0;
}


.additionals {
	font-size: .825rem;
	@include media(medium) {
		text-align: right;
	}

	span {
		display: inline-block;
		margin-left: $grid-gutter/2;
		&.copyright {
			margin-left: 0;
		}
	}
}
.utilities {
	margin: 0;
	padding:0;
	li {
		font-size: .825rem;
		display: inline-block;
		margin: .1em 1.75em .1em 0;
		a {
			font-weight: normal;
			text-decoration: none;
			&:hover {
				color: $nav-color-current;
			}
		}
	}
}

.widget {
	margin-bottom: $grid-gutter/2;
}

@include media(medium) {
	.widgets {
		@include columns();

		.widget {
			@include column(6);
			margin-bottom: 0;
		}
	}
}
