.main-content {
	ul.gallery {
		list-style: none;
    @include clearfix;
    margin: 1rem 0;
	}

 .gallery	li {
		margin-bottom: gutter(12);
		padding: 5px;
		background: lighten($body-bg-color, 8%);
		@include breakpoint($portrait) {
			@include gallery( 6 of 12);
		}
		@include breakpoint($desktop) {
			@include gallery( 3 of 12);
		}
		img, a {
			display: block;
		}
	}
	.gallery-item>a>img {
		min-width: 100%;
		height: auto;
	}
}