.header {
	@include container;
	padding: 0 0  1rem 0;
	@include media(medium) {
		padding: 0  gutter(.5);
	}
  &.has-image {
    .site-title {
      position: absolute;
      margin: -3rem gutter(.5);

      top: 50%;
    }

    .header-image {
      padding:0 0 gutter(.5) 0;
      position: relative;
      @include media(medium) {
        padding-top: gutter(.3);
      }
      img {
        max-width: 100%;
        min-width: 100%;
      }
    }
  }
}

.site-title {
	padding:2rem 0;

	a, a:hover, a:visited, a:active {
		text-decoration: none;
    color: $site-title-color;
	}
	h1 {
		font-weight: normal;
		font-size: 1.7rem;
    line-height: 1.7rem;
		text-transform: none;
    text-shadow: 1px 1px 4px  #000;
		@include media(medium) {
			font-size: 2rem;
      line-height: 2rem;
		}
	}
}