$primary-color: #acacac;
$secondary-color: #797979;

$brand-color: $secondary-color;

$base-color: $primary-color;
$body-bg-color: #111;
$nav-color: $secondary-color;
$nav-color-current: #fcfcfc;
$site-title-color: #ccc;
$crumbs-border-color: $secondary-color;
$link-color: $secondary-color;

$mobile-bg-color: $brand-color;
$mobile-link-color: #fff;
$mobile-link-current-color: #fff;
$header-color: $base-color;