@import "susy";
@import "breakpoint";
@import "webbear";


/////////////////////////////////////////////
//  variables
/////////////////////////////////////////////
$susy:(
columns:12,
global-box-sizing: border-box,
gutters: 1/3,
container: 1200px,
debug: (image: hide)
);
$portrait: 376px;
$tablet: 768px;

$desktop: 1040px;

$primary-color: #666;
$secondary-color: #158E50;

$base-color: $primary-color;
$body-color: #fff;
$nav-color: $secondary-color;
$nav-color-current: darken($secondary-color, 5%);
$site-title-color: #ccc;
$crumbs-border-color: $secondary-color;
$link-color: $secondary-color;
$mobile-link-color: #fff;
$mobile-link-current-color: #fff;
$header-color: darken($secondary-color, 10%);
/////////////////////////////////////////////
//  layout start
/////////////////////////////////////////////


* {
	@include box-sizing;
}
html {
  font-size: 100%;
}


body {
	font-family: 'Raleway', sans-serif;
	font-size: 100%;
	line-height:1.5;
	background: $body-color;
	border-top: 12px solid $nav-color;
	color: $base-color;
  -webkit-text-size-adjust: none;
}

body,
td,
input[type=text],
textarea {

}

img {
	max-width: 100%;
	height: auto
}

h1, h2, h3, h4, h5 {
	color: $header-color;
	text-transform: uppercase;
}
h2 {
	font-weight: normal;
	font-size: 1.3rem;
	margin: 1.3rem 0 .5rem 0
}

h3 {
	font-size: 1.2rem;
	margin: 1.3rem 0 .5rem 0
}

.sidebar h2:first-child,
.main-content h2:first-child,
.sidebar h3:first-child,
.main-content h3:first-child{
  margin-top: 0;
}

p {
	margin: 0 0 1rem 0;
}

a {
	color: $link-color;
	text-decoration: underline;

}
a:hover {
	color: darken($link-color, 10%);
	//border-color: #aaa;
	text-decoration: none;
}

blockquote {
	margin-left: 0;
	padding-left: 1.5rem;
	padding-right: 2rem;
	border-left: 4px solid #ddd;
	font-style: italic;
	color: #777;
}

pre, code {
	background: #eee;
	border: 1px solid #ddd;
}

pre {
	font-size: px2rem(14);
	line-height: 1.4em;
	padding: 1em;
	border-left: 4px solid #ddd;
}

.container {
	//@include container;
//	padding: 0 gutter(12);
}
.top-bar {
	//background: $base-color;
	@include clearfix;
	display: none;
	@include breakpoint($tablet) {
		display: block;


	}
}

//.top-nav {
//	@include container;
//	padding: 0 gutter(12);
//	//padding:0 gutter(12);
//
//}

.top-nav li {
	list-style: none;
	padding: 0;
	margin: 0;
}

.top-nav ul > li {
	float: left;
	position: relative;
	margin: 0 gutter(12) 0 0;


}

.topnav > li > a {
	padding: 0.25rem 0;
	border-top: 12px solid transparent;
	text-decoration: none;
	display: block;
	//background: transparent;
	color: $nav-color;
	transition: border-color 300ms ease;
}

.topnav > li:hover > a {
	//background: lighten($base-color, 20%);

	border-top-color: $nav-color;
}
.topnav li.active > a,
.topnav li.current > a {
	//background: lighten($base-color, 20%);
	color: $nav-color-current;
	border-top-color:  $nav-color;
}

.top-nav ul li ul {
	position: absolute;
	top: 2.35rem;
	left: -99999px;
	border: 1px solid;
	border-color: transparent;
	background-color: $body-color;
	transition: border 300ms ease;
	width: 12rem;
	padding: .25rem;
  z-index: 2000;
	li {
		width: 100%;
		font-size: .9rem;
		a {
			display: block;
			text-decoration: none;
			padding: .25rem;
		}
	}
}



.top-nav ul li:hover ul {
	left: 0;
	border-color: $nav-color;
}

form.search {
	float: right;
	margin: 0;
	width: span(3 of 12);
}

form.search input {
	margin: 0;
	padding: 0.25rem 0.5rem;
	//border: 1px solid #000;
	width: 100%;
	//background: #aaa;
	color: #000;
	display: inline-block;
	margin: .1rem 0 0 0;
}

form.search button {
	display: none;
}

.breadcrumb.nav {
	@include container;
	padding:  1em;
	display: none;
	//background: rgba(255,255,255, 0.8);
	@include breakpoint($tablet) {
		padding: 0 gutter(12);
		display: block;
	}
}
.breadcrumbs {
	clear: both;
	padding:.25em 0;
  border-top: 1px solid $crumbs-border-color;
	border-bottom: 1px solid $crumbs-border-color;
	font-size: .75rem;
	@include breakpoint($tablet) {
		font-size: 1rem;
	}
		li {
		list-style: none;
		display: inline-block;
		.nav & {
			margin: 0 .5rem 0 0;
		}
		color: $nav-color;
		a {
			color: $nav-color;
		}
	}
}
.breadcrumbs li:after {
	content: "/";
	color: $nav-color;
	padding-left: 0.5rem;
	padding-right: 0;
}

.breadcrumbs li.last:after {
	content: "";
}
.header {
	@include container;
	padding:  1rem;
	//background: rgba(255,255,255, 0.8);
	@include breakpoint($tablet) {
		padding: 0 gutter(12) ;
	}
  &.has-image {
    .site-title {
      position: absolute;
      margin: -3rem 0;

      top: 50%;
    }

    .header-image {
      padding: .75rem 0;
      position: relative;
      img {
        max-width: 100%;
        min-width: 100%;
      }
    }
  }
}
//.logo {
//
//	@include span( 3 of 12);
//	@include breakpoint($tablet) {
//		@include span( 2 of 12);
//	}
//}
.site-title {

	padding:2rem 0;
	//border-bottom: 1px solid $base-color;
	a, a:hover, a:visited, a:active {
		text-decoration: none;
    color: $site-title-color;
	}
	h1 {
		font-weight: normal;
		font-size: 1.7rem;
    line-height: 1.7rem;
		text-transform: none;
    text-shadow: 1px 1px 4px  #000;
		@include breakpoint($tablet) {
			font-size: 2rem;
      line-height: 2rem;
		}


		//text-transform: lowercase;
	}
}
/////////////////////////////////////////////
//  main content and sidebar
/////////////////////////////////////////////


.body {
	padding: 1em;
	@include clearfix;
	clear: both;

	//background: rgba(255,255,255, 0.8);

	@include breakpoint($tablet) {
		@include container;
		padding: 2em gutter(12) 1em gutter(12);
	}


}
h1.page-title {
	font-size: 1.6rem;
	margin-top: 0;
	font-weight: normal;
	margin-bottom: 1rem;
}

.main-content,
.sidebar {
	padding-bottom: 2rem;

	ul {
		padding: 0;
		margin: 0 0 1rem 0;
		list-style-position: inside;
		&.nav {
			margin-left: 0;
		}
	}
}

.main-content {
	@include breakpoint($tablet) {
		min-height: 250px;

	}
	ul.sub-page-nav {
		list-style: none;
		clear: both;
		@include clearfix;
    margin: 1.5rem 0;
	}
	.sub-page-nav li {
		margin-top:0;
		margin-bottom: gutter(4);
		img {
			max-width: 100%;
			min-width: 100%;
			width: 100%;
			height: auto;
		}
		div.img {
			width: 100%;
		}
		@include breakpoint($portrait) {
			@include gallery( 2 of 4);
		}



		@include breakpoint($tablet) {
			@include gallery( 1 of 4);
		}
	}
	.sub-page-nav {
		a {
			text-decoration: none;
			display: block;
		}
		h2 {
			font-size: 0.9rem;
			margin: .25rem 0;
		}
		.summary {
			font-size: .75rem;
		}
	}

}


body.has-sidebar .main-content {
	@include breakpoint($tablet) {
		@include span(9);


	}
}

body.has-sidebar .sidebar {
	clear: both;
	@include breakpoint($tablet) {
		clear: none;

		@include span(3 last);
	}
}

.nav {
	margin-left: 0;
	padding-left: 0;
	list-style: none;
}

.nav .nav {
	padding-left: 1.5rem;
	list-style: disc;
}
.nav li {
	margin: 1em 0;
}

.nav-tree li {
	margin-top: 0;
	margin-bottom: 0;
}

.main-content .nav a {
	color: $nav-color;
	text-decoration: none;
	display: inline-block;
	vertical-align: top;
	.summary {
		font-size: .75rem;

	}
}
.main-content .nav {
	li {
		&:before {
			content: "» ";
			color: $nav-color;
			text-decoration: none;
		}
		&:hover:before {
			color: $nav-color-current;
		}
		margin-bottom: 10px;
	}

}
.nav a {
	color: $nav-color;
	text-decoration: none;

}

.nav-tree li a {
	color: $nav-color;

}

.nav a:hover,
.nav .current > a {
	color: $nav-color-current;
	&:before {
		color: $nav-color-current;
		text-decoration: none;
	}
}

.align_left {
	/* for images placed in rich text editor */
	float: left;
	margin: 0 1rem 0.5rem 0;
	position: relative;
	top: 0.5rem;
	max-width: 50%;
}

.align_right {
	/* for images placed in rich text editor */
	float: right;
	margin: 0 0 0.5rem 1rem;
	max-width: 50%;
}

.align_center {
	/* for images placed in rich text editor */
	display: block;
	margin: 1em auto;
	position: relative;
	top: 0.5rem;
}

/////////////////////////////////////////////
//  footer
/////////////////////////////////////////////

.footer {
	clear: both;

	padding: .75rem 1rem;
	color: $base-color;

	@include breakpoint($tablet) {

		@include container;
		padding: .75rem gutter(12);
		margin-bottom: 1.25rem;

	}
}
.utilities {
	border-top: 1px solid $base-color;
	padding:.75rem 0;
}
.additionals,
.utilities {
	margin: 0;
	li {
		font-size: .825rem;
		display: inline-block;
		margin: .1em 1.75em .1em 0;
		a {
			font-weight: normal;
			text-decoration: none;
			&:hover {
				color: $nav-color-current;
			}
		}
	}
}

/////////////////////////////////////////////
//  utilities
/////////////////////////////////////////////

.edit {
	position: fixed;
	top: 5px;
	right:0;
	a {
		text-decoration: none;
		font-size: px2rem(12);
		display: block;
		background: darken(red, 20%);
		color: white;
		padding: .5rem .75rem;
	}
}

/////////////////////////////////////////////
//  mobile menu
/////////////////////////////////////////////
.mobile-header {
	margin-top:-12px;
	background: $nav-color;
	@include breakpoint($tablet) {
		display: none;
	}
	.menu-toggle {
		font-size: 26px;
		color: white;
		display: inline-block;
		padding: 10px;

	}
}
.mm-container {
	position: absolute;
	top:32px;
	left: 5px;
	right: 5px;
	background: $nav-color;
  z-index: 30000;

	form.search {
		float: none;
		width: 50%;
		background: #333;
		padding: .5em;
	}
}
.mobile-menu {
	ul ,li, a{
		background: $nav-color;
		transition: background 0 ease;
	}
	li {
		a {
			color: $mobile-link-color;
			padding: .75rem 1rem;
			display: block;
			border-top: 0 none;
			border-bottom: 1px solid #fff;
			text-decoration: none;
			letter-spacing: .09em;
		}
	}
	li:last-child li:last-child {
		a {
			border-bottom: 0 none;
		}
	}
  li.active > a,
	li.current > a {
		font-weight: bold;
    color: $mobile-link-current-color;
	}
	li li a {
		padding-left: 2rem;
	}


}

/////////////////////////////////////////////
//  Form
/////////////////////////////////////////////
#wrap_Inputfield- {
	display: none;
}
.form {
	input[type=text],
	input[type=email],
	textarea {
		border: 1px solid $base-color;
		padding: .5em;
		max-width: 100%;
		width: 30em;
		font-size: 1em;
		font-family: courier, monospace;
		&:focus {
			border-color: lighten($base-color, 20%);
		}
	}
	.InputfieldStateRequired {
		label:after {
			content: " *";

		}
	}
	.Inputfield {
		margin: 0 0 .5em 0;
	}
	.InputfieldSubmit {
		margin: 1em 0
	}

	button {
		background: $base-color;
		display: inline-block;
		border: 1px solid $base-color;
		padding: .75em 1.25em;
		color: #fff;
		cursor: pointer;
		transition: background 200ms ease;
		&:hover {
			background: darken($base-color, 10%);
		}
	}
	.ui-state-error  {
		color: red;
		p {
			margin:0;
		}

	}
	span.ui-state-error {
		font-size: .825em;
		font-style: italic;
	}
}


.main-content {
	ul.gallery {
		list-style: none;
    @include clearfix;
    margin: 1rem 0;
	}

 .gallery	li {
		margin-bottom: gutter(12);
		padding: 5px;
		background: lighten($body-color, 8%);
		@include breakpoint($portrait) {
			@include gallery( 6 of 12);
		}
		@include breakpoint($desktop) {
			@include gallery( 3 of 12);
		}
		img, a {
			display: block;
		}
	}
	.gallery-item>a>img {
		min-width: 100%;
		height: auto;
	}
}


/*********************************************************************
 * 5. Media queries for responsive layout
 *
 */

@media only screen and (max-width: 767px) {
	/* mobile layout */

	body,
	td,
	textarea {
		font-size: 100%;
	}
	.align_left, .align_right, .align_center {
		display: block;
		float: none;
		margin: 1em auto;
		max-width: 100%;
	}

}

@media only screen and (min-width: 1200px) {
	/* extra-wide desktop layout */

	html {
		font-size: 115%;
	}
}
